{% extends 'layout.html' %}
<!-- se importa el helper para usar macro, para usar su metodo render_field -->
{% from 'helpers/_forms.html' import render_field %} 

{% block container %}
    <div class="col-md-12 col-md-offset-1">
        <h3>Login</h3>
        <form  method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="form-group">
                {{ render_field(form.username, class='form-control', placeholder='Ingresa tu usuario')}}
                <small id="emailHelp" class="form-text text-muted">Nunca compartas tu email con otras personas.</small>
            </div>
            <div class="form-group">
                {{ render_field(form.password, class='form-control', placeholder='Contraseña')}}
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
{% endblock %}

<!-- <div class="form-group">
              <label for="exampleInputEmail1">Correo Electronico:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa Correo">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> -->